
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid  d-flex justify-content-center">
        <a class="navbar-brand start-0" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex align-items-center justify-content-center text-white" id="navbarSupportedContent">
            <ul class=" navbar-nav  me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}"><i class="fas fa-home"></i></a>
                </li>

                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    MENU
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Devis</a></li>
                    <li><a class="dropdown-item" href="#">Client</a></li>
                    <li><a class="dropdown-item" href="#">Produit</a></li>
                    <li><a class="dropdown-item" href="#">Facture</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Home</a></li>
                </ul>

                <li class="nav-item">
                    <a class="nav-link fw-bold" href="{{ path('app_logout') }}">DÉCONNEXION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>