            <!------------------------------------ INPUT FORM DE PRODUIT ------------------------------------>
            {{ form_start(produitForm, {'attr': {'class': ''} }) }}
            <div id="js-form-produit" class="col-md-4"  style="display: none;">
                <div class="col my-1 text-black">
                    <h3>Produit:</h3>
                    {{ form_widget(produitForm) }}
                </div>
                <div class="col my-1">
                    <button class="btn btn-outline-info">{{ button_label|default('Save') }}</button>
                </div>
            </div>
            {{ form_end(produitForm) }}
        </div>
    </div>