
    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}
    <button class="produit_edit_modale btn-warning" data-url="{{ path('produit_show', {'id': produit.id}) }}"><i class="fas fa-arrow-alt-circle-left"></i></i></button>