
    <table class="dataTable table table-bordered table-stripped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ produit.libelle }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
        </tbody>
    </table>
    <button class="produit_edit_modale btn-warning" data-url="{{ path('produit_edit', {'id': produit.id}) }}">Éditer Produit</button>

