@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "~bootstrap/scss/bootstrap";
@import "~select2";
$zindex-modal:1500;

body {
    background-color: #2d2d2d;
    color: white;
    min-height: 100%;
}
#content{
    margin-top: 1rem;
}

#footer_social{
    background-color: #2d2d2d;
    color: white;
}