
    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
    <button class="client_edit_modale btn-warning" data-url="{{ path('client_show', {'id': client.id}) }}"><i class="fas fa-arrow-alt-circle-left"></i></button>
