.select2-container--default .select2-results__option--selectable{
  color: black !important;
}

#content {
  background-color: white;
  color: black;
}
#vue-tableau-devis {
  background-color: white;
  color: black;
}

.select2-results {
  color: black;
}

footer{
  color: black;
}

#css-colone-footer {
  border: none;
}
.js-edit-categorie {
  border: none;
}