<!DOCTYPE html>

<html lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        {% if app.user %}
            <header class="fixed-top">
                {% include "./partials/navbar.html.twig" %}
            </header>
        {% endif %}

        <div class="container h-100" id="content">
            {% block body %}{% endblock %}
        </div>

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
