<!------------------------------------ INPUT FORM DE CATEGORIE ------------------------------------>
            {{ form_start(categorieForm, {'attr': {'class': ''} }) }}
                <td colspan="5">
                    {{ form_widget(categorieForm.libelle) }}
                    <button id="add_categorie" class="btn btn-outline-info">{{ button_label|default('Save') }}</button>
                </td>
            {{ form_end(categorieForm) }}
